.gallery-grid {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.gallery-grid img,
.gallery-grid video {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover,
.gallery-grid video:hover {
    transform: scale(1.03);
}

/* LIGHTBOX */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.lightbox img,
.lightbox video {
    max-width: 90%;
    max-height: 85%;
    border-radius: 10px;
}
